body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  background-color:#ffffff;
  min-width: 900px;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden
 {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  -webkit-clip-path:inset(100%);
          clip-path:inset(100%);
  overflow: hidden;
}
img {
  max-width:100%;
  height:auto;
}
a {
  text-decoration: none;
}
.navigation {
  background-color: #eeeeee;
  height:auto;
}
.main-navigation {
  list-style:none;
  margin:0 auto;
  padding:0;
  display:flex;
  align-content: center;
  align-items: center;
  width:1160px;
  text-align: left;
}
.navigation-link {
  color:#000000;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}
.navigation-link:hover {
   color:#fb565a;
}
.navigation-link:active {
  color:#a6a6a6;
}
.navigation-link.active {
  box-shadow: 0 2px #fb565a;
}
.main-navigation-item  {
  padding-top:50px;
  text-align: center;
  width:100px;
  align-content: center;
  align-items: center;

}
.main-navigation-item:nth-child(3)  {
  margin-left:15px;
}
.main-navigation-item:nth-child(4)  {
  margin-left:25px;
  margin-right:25px;
}
.main-navigation-logo {
  width:162px;
  height:80px;
  padding-top:49px;
  margin-right:180px;
}
.main-navigation-logo:hover path {
  fill:#303030;
}
.main-navigation-logo:active path {
  fill:#a6a6a6;
}
.main-navigation-cart {
  margin-left:auto;
  width:75px;
  padding-top:50px;
  padding-left:40px;

}
.slider {
  overflow: hidden;
  background-color: #eeeeee;
  position: relative;
}
.slider input[type="radio"] {
  display: none;
}
.slider-controls {
	position: absolute;
	left:47%;
  top:300px;
  z-index: 99;
}
.slider-controls label {
    display: inline-block;
  	width: 10px;
  	height: 10px;
  	margin: 0 4px;
  	vertical-align: middle;
  	background-color: #ffffff;
  	border: 4px solid #ffffff;
  	border-radius: 100%;
    cursor: pointer;
}
#slider-1:checked ~ .slider-controls label[for="slider-1"],
#slider-2:checked ~ .slider-controls label[for="slider-2"],
#slider-3:checked ~ .slider-controls label[for="slider-3"] {
    background-color: #c1c1c1;
}
#slider-1:checked ~ .slider-inner .slide-first,
#slider-2:checked ~ .slider-inner .slide-second,
#slider-3:checked ~ .slider-inner .slide-third  {
  display:flex;
}
.slider-inner {
  width:1160px;
  height:415px;
  margin:0 auto;
}
.slide {
  display: none;
  flex-direction: wrap;
  flex-wrap: nowrap;


}
.slide-column:first-child {
  width:37%;
  padding-top:60px;

}
.slide-column h3 {
  font-size:55px;
  line-height:55px;
  font-weight: 700;
  margin:0;
  padding:0;
}
.slide-column:last-child {
  width:63%;

}
.slide-second .slide-column:first-child {
  width:50%;
}
.slide-second .slide-column:last-child {
  width:50%;
  margin-right:80px;
}
.slide-second img {
  position:absolute;
  right:13%;
}
.slide-column p {
  padding-top:10px;
  margin-bottom:54px;
}
.button {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color:#fff;
  font-weight: 400;
  padding:15px 40px;
}
.btn-red-big {
  background-color: #fb565a;
  padding:15px 55px;
}
.btn-red-big:hover {
  background-color:#e74246;
}
.btn-red-big:active {
  background-color: #d7373b;
  color:#e26f72;
}
.features {
  width: 1040px;
  margin:0 auto;
  text-align:left;
  min-height: 428px;
}
.features-list {
  list-style: none;
  display:flex;
  justify-content: space-between;
  margin:0;
  padding:0;
  margin-top: 80px;
  margin-left: -59px;
}
.feature-item {
  width: 300px;
}
.feature-item h3{
  margin:0;
  padding:0;
  font-size:24px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top:20px;

}
.feature-item p {
  padding-top:4px;
  margin-bottom: 45px;
}
.btn-red {
  background-color: #fb565a;
}
.btn-red:hover {
  background-color:#e74246;
}
.btn-red:active {
  background-color:#d7373b;
  color:#e37376;
}
.btn-green {
  background-color:#00ca74;
}
  .btn-green:hover {
    background-color:#00bc6c;
}
.btn-green:active {
    background-color:#00aa62;
    color:#4dc491;
}
.btn-yellow {
  background-color: #efc84a;
}
.btn-yellow:hover {
  background-color:#eab534;
}
.btn-yellow:active {
  background-color:#e5a722;
  color:#edc265;
}
.about-us {
  width:1160px;
  margin:0 auto;
  border-top:2px solid #eeeeee;
  border-bottom:2px solid #eeeeee;
  display:flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
.about-us-text {
  width:660px;
  padding-top:74px;
}
.about-us-text h3 {
  margin:0;
  padding:0;
  font-size:45px;
  line-height: 45px;
  font-weight: 500;
}
.about-us-text p {
  margin:0;
  padding:0;
  padding-top:33px;
}
.about-us-text h4 {
  text-transform: uppercase;
  margin:0;
  padding:0;
  padding-top:38px;
  line-height: 26px;
}
.about-us-product {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 23px;
  padding-left:37px;
}
.about-us-product li {
  padding-bottom:24px;
  position: relative;
}
.about-us-product li::before {
  content: "";
  position: absolute;
  width: 25px;
  height:2px;
  background-color: #fb565a;
  left:-36px;
  top:12px
}
.about-us-statistic {
  width:360px;
  padding-top:40px;
}
.about-us-statistic ul  {
  list-style: none;
  margin: 0;
  padding: 0;
}
.about table {
  width:100%;
  padding-top: 26px;
  padding-right:5px;
}
.about caption {
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 29px;
}
.about th {
  font-size: 45px;
  line-height: 10px;
}
.about td {
  padding-top:27px;
  line-height: 18px;
}
.examples {
  margin:0 auto;
  width: 1160px;
}
.partners-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:space-between;
  padding-left:30px;
  padding-top: 45px;
  padding-bottom:40px;
  border-bottom: 2px solid #eeeeee;

}
.partner-item {
  width:215px;
  align-self:baseline;
  position: relative;
}
.partner-item:nth-child(3) {
  align-self: center;
  margin-left:10px;
}
.partner-item:nth-child(3)::before,
.partner-item:nth-child(3)::after,
.partner-item:nth-child(2)::after {
  content: "";
  position: absolute;
  width:2px;
  height:52px;
  background-color:#eeeeee;
}
.partner-item:nth-child(3)::before {
  left:-65px;
}
.partner-item:nth-child(3)::after {
  right:-24px;
}
.partner-item:nth-child(2)::after {
  left:-51px;
  top:20px;
}
.partner-item a:hover {
  opacity: 1;
}
.partner-item a {
  opacity:0.2;
}
.partner-item a:active {
  opacity:0.2;
}
