body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  background-color: #ffffff;
  min-width: 1440px;
  position: relative;

}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.main-navigation-wrapper {
  background-color: #eeeeee;

}
.container {
  width: 1161px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.main-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  padding-right: 36px;
}

.main-navigation-item {
  padding-top: 75px;
  padding-right: 47px;
  flex-basis: 100px;
}

.main-navigation-cart {
  padding-top: 75px;
  position: relative;
}

.main-navigation-cart svg {
  position: absolute;
  left: -40px;
  bottom: 25px;
}

.navigation-link {
  color: #000000;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.navigation-link:hover {
  color: #fb565a;
}

.navigation-link:active {
  color: #a6a6a6;
}

.navigation-link.active {
  -webkit-box-shadow: 0 2px #fb565a;
  box-shadow: 0 2px #fb565a;
}

.main-navigation-logo {
  padding-top: 50px;
}

.main-navigation-logo:hover path {
  fill: #303030;
}

.main-navigation-logo:active path {
  fill: #a6a6a6;
}

.slider {
  overflow: hidden;
  position: relative;
  margin-top: 10px;
}

.slider input[type="radio"] {
  display: none;
}

.slider-controls {
  position: absolute;
  left: 47%;
  top: 300px;
  z-index: 99;
}

.slider-controls label {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 3px;
  background: white;
  border: 8px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#slider-1:checked~.slider-controls label[for="slider-1"],
#slider-2:checked~.slider-controls label[for="slider-2"],
#slider-3:checked~.slider-controls label[for="slider-3"] {
  background-color: #c1c1c1;
}

#slider-1:checked~.slider-inner .slide-first,
#slider-2:checked~.slider-inner .slide-second,
#slider-3:checked~.slider-inner .slide-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-inner {
  height: 415px;
}

.slide {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: wrap;
  flex-direction: wrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.slide-column:first-child {
  width: 37%;
  padding-top: 60px;
}

.slide-column h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.slide-column:last-child {
  width: 63%;
}

.slide-column img {
  z-index: 2;
  position: absolute;
}

.slide-first img {
  top: 1px;
  right: 31px;
}

.slide-second img {
  top: 0;
}

.slide-third img {
  top: 5px;
}

.slide-second .slide-column:first-child {
  width: 50%;
}

.slide-second .slide-column:last-child {
  width: 50%;
  margin-right: 80px;
}

.slide-column p {
  padding-top: 10px;
  margin-bottom: 54px;
}

.button {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  border:none;

}

.btn-red-big {
  background-color: #fb565a;
  padding: 15px 55px;
}

.btn-red-big:hover {
  background-color: #e74246;
}

.btn-red-big:active {
  background-color: #d7373b;
  color: #e26f72;
}

.features {
  min-height: 428px;
}

.features-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 80px;
  width: 1100px;
}

.feature-item {
  width: 300px;
}

.feature-item h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 20px;
}

.feature-item p {
  padding-top: 4px;
  margin-bottom: 45px;
}
.btn {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  padding:15px 40px;
}
.btn-red {
  background-color: #fb565a;
}

.btn-red:hover {
  background-color: #e74246;
}

.btn-red:active {
  background-color: #d7373b;
  color: #e37376;
}

.btn-green {
  background-color: #00ca74;
}

.btn-green:hover {
  background-color: #00bc6c;
}

.btn-green:active {
  background-color: #00aa62;
  color: #4dc491;
}

.btn-yellow {
  background-color: #efc84a;
}

.btn-yellow:hover {
  background-color: #eab534;
}

.btn-yellow:active {
  background-color: #e5a722;
  color: #edc265;
}

.about-us {
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 50px;
}

.about-us-text {
  width: 660px;
  padding-top: 74px;
}

.about-us-text h3 {
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about-us-text p {
  margin: 0;
  padding: 0;
  padding-top: 33px;
}

.about-us-text h4 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-top: 38px;
  line-height: 26px;
}

.about-us-product {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 23px;
  padding-left: 37px;
}

.about-us-product li {
  padding-bottom: 24px;
  position: relative;
}

.about-us-product li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  left: -36px;
  top: 12px
}

.about-us-statistic {
  width: 360px;
  padding-top: 40px;
}

.about-us-statistic ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about table {
  width: 100%;
  padding-top: 26px;
  padding-right: 5px;
}

.about caption {
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 29px;
}

.about th {
  font-size: 45px;
  line-height: 10px;
}

.about td {
  padding-top: 27px;
  line-height: 18px;
}

.partners-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 30px;
  padding-top: 45px;
  padding-bottom: 40px;
  border-bottom: 2px solid #eeeeee;
}

.partner-item {
  width: 215px;
  -ms-flex-item-align: baseline;
  align-self: baseline;
  position: relative;
}

.partner-item:nth-child(3) {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-left: 10px;
}

.partner-item:nth-child(3)::before,
.partner-item:nth-child(3)::after,
.partner-item:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.partner-item:nth-child(3)::before {
  left: -65px;
}

.partner-item:nth-child(3)::after {
  right: -24px;
}

.partner-item:nth-child(2)::after {
  left: -51px;
  top: 20px;
}

.partner-item a:hover {
  opacity: 1;
}

.partner-item a {
  opacity: 0.2;
}

.partner-item a:active {
  opacity: 0.2;
}
.map-and-contacts {
  position: relative;
  margin-top:75px;
}
.contacts {
  background: #fff;
  position:absolute;
  top:58px;
  padding-left:53px;
  padding-right:53px;
  padding-bottom: 47px;
  padding-top:47px;

}
.contacts h4 {
  padding:0;
  margin:0;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  padding-bottom:20px;
}
.contacts p {
  padding:0;
  margin:0;
  font-size:inherit;
  line-height: 18px;
  color: #666666;
  padding-bottom: 22px;
}
.btn-red-write {
  padding:15px 45px;
  background-color: #fb565a;
  border:none;
  border-radius:2px;
  margin-top:15px;
  cursor:pointer;
}
.btn-red-write:hover {
  background-color: #e74246;
}
.btn-red-write:active {
  background-color: #d7373b;
  color: #e26f72;
}
.page-footer {
  padding-top:65px;
  display:flex;
  padding-bottom:65px;
}
.footer-social {
  margin-right:auto;
}
.footer-offer {
  margin-right:18.7%;
  padding-top:5px;
}
.footer-offer h3 {
  font-size:36px;
  line-height: 36px;
  margin:0;
  padding:0;
}
.footer-offer p {
  margin:0;
  padding:0;
  padding-top:10px;
}
.footer-social {
  display:flex;
  flex-wrap: wrap;
}
.round-link {
  display:block;
  width:80px;
  height:80px;
  border-radius:50%;
  background-color:#e1e1e1;
  margin-right:10px;
  text-align: center;
  transition: background-color 200ms;
}
.round-link svg {
  transform:translateY(30px);
}
.round-link:hover,
.round-link:focus {
  background: #e74246;
}
.round-link:active {
  background-color: #d7373b;
}
.round-link:active svg {
  opacity:0.3;
}
.modal {
  position: absolute;
  padding-top:73px;
  padding-bottom:83px;
  padding-left:100px;
  padding-right:100px;
  width:760px;
  background-color: #fff;
  left:50%;
  margin-left:-480px;
  bottom: 180px;
  box-shadow: 0 30px 50px rgba(0,0,0,0.7);
  display:none;
}
.modal-show {
  display:block;
  animation-name: show;
  animation-duration: 0.8s;
}
@keyframes show {
  0% { transform: translateY(2000px); }
  70% { transform: translateY(-30px); }
  90% { transform: translateY(10px); }
  100% { transform: translateY(0); }
}
.form-head {
  margin:0;
  padding:0;
  font-size:45px;
  line-height: 45px;
  padding-bottom:45px;
}
.modal-form label {
  font-size:inherit;
  line-height: 18px;
  font-weight: bold;
}
.modal-form {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.modal-form input {
  width:340px;
  min-height: 46px;
  font:inherit;
  color:#a1a1a1;
  padding:0 10px;
  margin-top:10px;
  margin-bottom:35px;
  border:2px solid #d7dcde;
}
.modal-form input:hover,
.modal-form textarea:hover
 {
  border-color: #b4b9bb;
}
.modal-form input:not(:placeholder-shown):invalid {
  border-color: #e74246;
  color: #e74246;
}
.modal-form input:focus,
.modal-form textarea:focus {
  border-color:#000000;
  color:#444444;
}
.modal-form textarea {
  width: 757px;
  margin-top:10px;
  border:2px solid #d7dcde;
}
.modal-submit {
  padding:15px 45px;
  background-color: #fb565a;
  border:none;
  border-radius:2px;
  margin-top:47px;
  cursor:pointer;
}
.modal-submit:hover {
  background-color: #e74246;
}
.modal-submit:active {
  background-color: #d7373b;
  color: #e26f72;
}
.modal-close {
  position: absolute;
  width:22px;
  height:22px;
  font-size:0;
  border:0;
  cursor:pointer;
  top:90px;
  right:90px;
  background: transparent;
}
.modal-close::before,
.modal-close::after {
  content: "";
  width:22px;
  height:4px;
  background-color:#fecccd;
  position:absolute;
  top:10px;
  left:0;
}
.modal-close:hover::before,
.modal-close:hover::after {
  background-color: #fb565a;
}
.modal-close:active::before,
.modal-close:active::after {
  background-color: #ffeeee;
}
.modal-close::before {
  transform: rotate(45deg);
}
.modal-close::after {
  transform:rotate(-45deg);
}
.catalog-header {
  margin:0;
  padding:0;
  font-size:55px;
  line-height: 55px;
  padding-top:70px;
  padding-bottom:107px;
  text-align: center;
}
.range-bar {
  width:260px;
}
.price {
  text-transform: uppercase;
  padding:0;
  margin:0;
  margin-top: 60px;
  margin-bottom:50px
}
.range-controls {
  position: relative;
  background: #f1f1f1;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 3px;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top:30px;
  left:20px;
  width:4px;
  height:4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius:50%;
  background: #ababab;
  box-shadow:0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle-max {
  left: 160px;
}
.price-control {
  display:flex;
  justify-content: space-between;
}
.price-control label {
  font-size: 16px;
  line-height: 22px;
  color:#283136;
  text-transform: uppercase;
  border-radius: 5px;
}
.price-control input {
  width:80px;
  margin-left:10px;
  padding:8px 0;
  text-align: center;
  border:none;
  background: #f1f1f1;
  font:inherit;
}
.grid-type {
  display:flex;
  flex-direction: column;
  padding:0;
  margin:0;
  width:260px;
  border:none;
  margin-top:53px;
}
.grid-type legend {
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 500;
  font-size: 18px;
  padding-bottom:15px;
}
.interface-radio,
.interface-checkbox {
  padding-left:38px;
  position: relative;
  cursor: pointer;
  margin-bottom:15px;
}
.interface-radio input[type="radio"] ~ .radio-indicator {
  position: absolute;
  width:17px;
  height:17px;
  border-radius:50%;
  background-color:#fff;
  border:4px solid #a6a6a6;
  left:2px;
  top:-1px;
}
.interface-radio input[type="radio"]:hover + .radio-indicator,
.interface-radio input[type="radio"]:focus + .radio-indicator  {
  border-color:#4d4d4d;
}
.interface-radio input[type="radio"]:checked:hover + .radio-indicator::before,
.interface-radio input[type="radio"]:checked:focus + .radio-indicator::before {
  background-color: #4d4d4d;
}
.interface-radio input[type="radio"]:disabled  ~ .radio-indicator,
.interface-radio input[type="radio"]:disabled  ~ .radio-type
 {
  opacity: 0.2;
}
.interface-radio input:checked + .radio-indicator::before {
  content: "";
  width:9px;
  height:9px;
  border-radius: 50%;
  position: absolute;
  background-color: #a6a6a6;
  top:4px;
  left:4px;
}
.advantage-type {
  display:flex;
  flex-direction: column;
  width:260px;
  margin:0;
  padding:0;
  border: none;
  margin-top:30px;
}
.advantage-type legend {
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 500;
  font-size: 18px;
  padding-bottom:15px;
}
.interface-checkbox input[type="checkbox"] ~ .checkbox-indicator {
  position: absolute;
  width:19px;
  height:19px;
  border:2px solid #a6a6a6;
  border-radius: 2px;
  left:2px;
}
.interface-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  content: "";
  position: absolute;
  width:10px;
  height:4px;
  background-color: #a6a6a6;
  top:50%;
  left:2px;
  transform: rotate(45deg);

}
.interface-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  width:20px;
  height:4px;
  background-color: #a6a6a6;
  top:40%;
  left:6px;
  transform: rotate(-45deg);
}
.interface-checkbox input[type="checkbox"]:hover ~ .checkbox-indicator,
.interface-checkbox input[type="checkbox"]:focus ~ .checkbox-indicator {
  border-color:#4d4d4d;
}
.interface-checkbox input[type="checkbox"]:checked:hover ~ .checkbox-indicator::after,
.interface-checkbox input[type="checkbox"]:checked:hover ~ .checkbox-indicator::before,
.interface-checkbox input[type="checkbox"]:checked:focus ~ .checkbox-indicator::after,
.interface-checkbox input[type="checkbox"]:checked:focus ~ .checkbox-indicator::before {
  background:#4d4d4d;
}
.interface-checkbox input[type="checkbox"]:disabled ~ .checkbox-indicator,
.interface-checkbox input[type="checkbox"]:disabled ~ .checkbox-type {
  opacity: 0.2;
}
.btn-big-grey {
  padding: 14px 89px;
  color:#000;
  font:inherit;
  font-weight: 500;
  margin-top:33px;
}
.btn-big-grey:hover,
.btn-big-grey:focus {
  background-color:#dfdfdf;
}
.btn-big-grey:active {
  background-color:#d5d5d5;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
  color:#959595;
}
.catalog-content {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sort-form {
  flex-basis:260px;
}
.templates {
  margin:0;
  padding:0;
  flex-basis:760px;
}
.sorting {
  padding-top:58px;
}
.sorting-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.sorter-head h4 {
  margin:0;
  padding:0;
  font-size:18px;
  line-height: 18px;
  text-transform: uppercase;
}
.sorter-head {
  margin-right:auto;
}
.sorter-name {
  margin-right:25px;
}
.sorter-name a {
  font-size:14px;
  line-height: 18px;
  text-transform: uppercase;
  color:#b2b2b2;
}
.sorter-name a:hover,
.sorter-name a:focus {
  color: #666666;
}
.sorter-name a:active {
  color: #000000;
}
.sorter-name a.active {
  color: #000;
}
.sorter-btns {
  margin-left:26px;
}
.sorter-btn.active path {
  fill:#231f20;
}
.sorter-btn:hover path,
.sorter-btn:focus path {
  fill:#a6a6a6;
}
.sorter-btn:active path {
  fill:#231f20;
}
.sorter-btn:first-child {
  padding-right:14px;

}
.templates-list {
  margin:0;
  padding: 0;
  display:flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top:53px;
}
.template:nth-child(2n) {
  margin-left:40px;
}
.template {
  height:616px;
  width:360px;
  position: relative;
  background-color: #e9e9e9;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  margin-bottom:33px;
}
.template img {
  position:absolute;
  bottom:0;
  z-index:;
}
.round-toggle {
  position: absolute;
  width:15px;
  height:15px;
  border-radius: 50%;
  background-color: #fff;
  top:11px;
  left:38px;
}
.round-toggle::before {
  content:"";
  width:15px;
  height:15px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right:22px;
}
.round-toggle::after {
  content:"";
  width:15px;
  height:15px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left:22px;
}
.template:hover,
.template:focus {
  background-color: #4d4d4d;
  box-shadow: 0 5px 15px rgba(0,1,1,0.25);
  transition-duration: 0.2s;
}
.template:hover > .template-hover,
.template:focus > .template-hover {
  display:block;
  transition-duration: 0.2s;
}
.template-hover {
  width:360px;
  height:231px;
  position: absolute;
  z-index: 19;
  background-color: #eeeeee;
  bottom:0;
  text-align: center;
  display:none;
}
.template-hover h3 {
  margin:0;
  padding:0;
  text-transform: uppercase;
  font-size:18px;
  line-height: 30px;
  padding-top:25px;
}
.template-hover p {
  margin:0;
  padding:0;
  padding-top:15px;
  line-height: 18px;
  margin-bottom:45px;
}
.btn-template {
  background-color: #fb565a;
  padding:15px 60px;
}
.btn-template:hover,
.btn-template:focus {
  background-color: #e74246;
}
.btn-template:active {
  background-color: #d7373b;
}
.breadcumbs {
  list-style: none;
  margin:0;
  padding:0;
  margin-top:25px;
  margin-bottom:-17px;
}
.breadcumbs li {
  display:inline-block;
  text-align: center;
  vertical-align: middle;
}
.breadcumb {
  background-color: #eeeeee;
  padding: 14px 18px;
  margin-right:7px;
  text-transform: uppercase;
  line-height: 18px;
  font:inherit;
  color:#000;
}
.breadcumb:hover,
.breadcumb:focus {
  background-color: #dfdfdf;
}
.breadcumb:active {
  background-color: #d5d5d5;
  color:#bfbfbf;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}
.breadcumb.active {
  background-color:#fff;
  border: 2px solid #dbdbdb;
  padding: 12px 16px;
}
.breadcumb.next {
  padding:14px 70px;
}
